*.aux
*.bbl
*.blg
*.mk
*.d
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.toc
*.nlo
*.cookie
*.brf
*.temp
*.lof
*.nav
*.snm
*.4ct
*.4tc
*.css
*.dvi
*.epub
*.html
*.idv
*.lg
*.out.ps
*.tmp
*.xref
*x.png
*.synctex.*
